@media (max-width: 350px) {
    body {
        width: 100%;
        padding: 0;
    }

    .container {
        padding: 0.6rem;
    }

    .notification {
        font-size: 0.8rem;
    }

    .notification span {
        font-size: 0.8rem;
    }

    .kimberly a img {
        width: 100%;
    }
}

@media (min-width: 350px) and (max-width: 700px) {
    body {
        width: 100%;
        padding: 0;
    }

    .container {
        padding: 0.6rem;
    }

    .kimberly a img {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    body {
        width: 100%;
        padding: 10%;
    }
}